// Variables for text colors
$textColor: #333;
$textColorDark: #191919;
$textColorLight: #666;
$textColorLighten: #999;

// Variables for link colors
$linkColor: #0EC3FC;
$linkColorHover: #0BB4E1;

// Variables for fonts
$fontFamily: Helvetica, Arial, sans-serif;
$fontSize: 12px;
$textFieldFontSize: 15px;

$border: 1px solid #E3E3E3;
$textFieldBackground: #F9F9F9;

// The great mixins
// rounded for creating border radius rules with one radius value.
@mixin rounded($px) {
/* @alternate */ -webkit-border-radius: $px;
/* @alternate */    -moz-border-radius: $px;
                         border-radius: $px;
}
// radius for creating border radius rules with multiple radius values.
@mixin radius($tl, $tr, $br, $bl) {
/* @alternate */ -webkit-border-radius: $tl $tr $br $bl;
/* @alternate */    -moz-border-radius: $tl $tr $br $bl;
                         border-radius: $tl $tr $br $bl;
}
// topLeftRadius for creating top left border radiuses.
@mixin topLeftRadius($px) {
/* @alternate */ -webkit-border-radius: $px 0 0 0;
/* @alternate */    -moz-border-radius: $px 0 0 0;
                         border-radius: $px 0 0 0;
}
// bottomLeftRadius for creating top right border radiuses.
@mixin topRightRadius($px) {
/* @alternate */ -webkit-border-radius: 0 $px 0 0;
/* @alternate */    -moz-border-radius: 0 $px 0 0;
                         border-radius: 0 $px 0 0;
}
// bottomLeftRadius for creating bottom left border radiuses.
@mixin bottomLeftRadius($px) {
/* @alternate */ -webkit-border-radius: 0 0 0 $px;
/* @alternate */    -moz-border-radius: 0 0 0 $px;
                         border-radius: 0 0 0 $px;
}
// bottomRightRadius for creating bottom right border radiuses.
@mixin bottomRightRadius($px) {
/* @alternate */ -webkit-border-radius: 0 0 $px 0;
/* @alternate */    -moz-border-radius: 0 0 $px 0;
                         border-radius: 0 0 $px 0;
}
// bottomLeftRightRadius for creating bottom corner radiuses.
@mixin bottomLeftRightRadius($l, $r) {
/* @alternate */ -webkit-border-radius: 0 0 $l $r;
/* @alternate */    -moz-border-radius: 0 0 $l $r;
                         border-radius: 0 0 $l $r;
}
// topLeftRightRadius for creating top corner radiuses.
@mixin topLeftRightRadius($l, $r) {
/* @alternate */ -webkit-border-radius: $l $r 0 0;
/* @alternate */    -moz-border-radius: $l $r 0 0;
                         border-radius: $l $r 0 0;
}
// shadow for creating box shadow rules.
@mixin shadow($a1, $a2, $a3) {
/* @alternate */ -webkit-box-shadow: $a1 $a2 $a3 rgba(0, 0, 0, 0.5);
/* @alternate */    -moz-box-shadow: $a1 $a2 $a3 rgba(0, 0, 0, 0.5);
                         box-shadow: $a1 $a2 $a3 rgba(0, 0, 0, 0.5);
}
// insetShadow for creating inset box shadow rules.
@mixin insetShadow($a1, $a2, $a3) {
/* @alternate */ -webkit-box-shadow: $a1 $a2 $a3 rgba(0, 0, 0, 0.5) inset;
/* @alternate */    -moz-box-shadow: $a1 $a2 $a3 rgba(0, 0, 0, 0.5) inset;
                         box-shadow: $a1 $a2 $a3 rgba(0, 0, 0, 0.5) inset;
}
// gradient for creating gradient rules for various browsers.
@mixin gradient($startColor, $endColor) {
/* @alternate */ background: -moz-linear-gradient(top, $startColor 0%, $endColor 100%); /* FF3.6+ */
/* @alternate */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $startColor), color-stop(100%, $endColor)); /* Chrome,Safari4+ */
/* @alternate */ background: -webkit-linear-gradient(top, $startColor 0%, $endColor 100%); /* Chrome10+,Safari5.1+ */
/* @alternate */ background: -o-linear-gradient(top, $startColor 0%, $endColor 100%); /* Opera 11.10+ */
/* @alternate */ background: -ms-linear-gradient(top, $startColor 0%, $endColor 100%); /* IE10+ */
/* @alternate */ background: linear-gradient(top, $startColor 0%, $endColor 100%); /* W3C */
                 background: $endColor; /* Old browsers */
}
// breakWord for adding cross browser word wrap rules.
@mixin breakWord {
/* @alternate */ white-space: pre-wrap;
/* @alternate */ white-space: pre-line;
/* @alternate */ white-space: -pre-wrap;
/* @alternate */ white-space: -o-pre-wrap;
/* @alternate */ white-space: -moz-pre-wrap;
/* @alternate */ white-space: -hp-pre-wrap;
                 white-space: pre;
                 word-wrap  : break-word;
}
@mixin textField {
  width: 509px;
  @include rounded(6px);
  font-family: $fontFamily;
  font-size: $textFieldFontSize;
  color: $textColorLighten;
  border: 1px solid #D9D9D9;
  margin-bottom: 10px;
  background: $textFieldBackground;
  @include insetShadow(0, 1px, 0);
/* @alternate */ -webkit-box-shadow: 0 2px 0 #EEE inset;
/* @alternate */    -moz-box-shadow: 0 2px 0 #EEE inset;
/* @alternate */         box-shadow: 0 2px 0 #EEE inset;
}
